main {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
}

.container {
    border-radius: 0px;
    width: auto;
    min-height: 700px;
    /* position:  */
    height: auto;
    background-color: white;
}

button {
    width: 125px;
}